<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
      <button (click)="celeryTask()" class="btn btn-danger">CELERY</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 20px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>